---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Emoji from 'astro-emoji';
import ScpShield from '../../public/scp-shield.png';
---

<Layout title="Salesian Hackbotics">
	<main class="flex justify-center items-center flex-row p-16">
		<div class="flex flex-col justify-start w-fit items-start gap-4">
			<h1 class="font-inter font-bold text-left w-full mb-0 text-7xl bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-orange-400">We're Salesian Hackbotics</h1>	
			<h2 class="font-inter font-medium text-4xl w-full">
				Nerds at Salesian College Preparatory who participate in robotics competitions and run hackathons. 
			</h2>	

			<a href="https://maps.app.goo.gl/tkwmq5HzUjMA681G7" target="_blank" class="font-inter font-medium text-blue-500 border-blue-400 bg-blue-400/25 p-2 px-4 rounded-xl">
				<Emoji symbol="ðŸ“" label="located" />
				{' '}
				2851 Salesian Ave, Richmond, CA 94804
			</a>
		</div>
		<div class="w-1/2 flex justify-center items-center">
			<Image src={ScpShield} alt="Shield" class="w-1/2 drop-shadow-xl" />
		</div>
	</main>
</Layout>

<style>
	main {
		@apply w-full h-full text-white;
	}
</style>
